.background-header{
    background-color: #eeeeee;
}

@media all and (min-width:768px){
        #megamenu{
            position: absolute;
            top: 5rem;
            right: 5rem;
            left: 5rem;
        }
        #megamenu ul>li{
            position: relative;
        }
        #omenu-offcanvas ul{
           
            background-color: white !important;
        }
        #menu-offcanvas ul li{
            position: ;
            width:80vw;

        }
        #menu-offcanvas ul li a {
           
            background-color: #eeeeee !important;
          
        }
        #menu-offcanvas li a  {
           background-color: white;
           color: black !important;
        }
}



@media all and (min-width:0px) and (max-width:767px){
    #header{
        display: none;
    }
    #menu-offcanvas li a  {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255) !important;
     }
     #offcanvas-body1{
        background-color: black;
     }
     #offcanvas-body1 ul{
        background-color: black;
     }
    ul li{
        font-size: 12px;
    }
}