.background-header{
    background-color: #eeeeee;
}
.redius-reduction{
    font-size: 12px;
    padding: 6px;
}
.remove-border-and-border-redius{
    border-radius: 0;
    border: 0;
}
.font-slider{
    font-size: 14px;
}
.font-header-title{
    font-size: 20px;
    font-weight: bold;
}
.custom-border-blog-card{
    border-left: 1px solid #D1D2D4;
    border-right: 1px solid #D1D2D4;
}
.custom-footer-border-blog-card{
    border: 1px solid #D1D2D4;
}
.font-size-footer-heading{
    font-size: 14px;
}
.font-size-normal-text{
    font-size: 12px;
}
.background-color-custom{
    background-color: #ededed;
}

.color-text-custom{
    color: #6a6b6d;
    font-size: 14px;
}
.custom-font-footer{
    width: 100px;
    height: 60px;
    border: 1px solid #ededed;
}
.custom-padding{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
}
@media all and (min-width:768px){
        #megamenu{
            position: absolute;
            top: 5rem;
            right: 5rem;
            left: 5rem;
            margin: -10px;
            padding: 5px;
            font-size: 13px;
            font-weight: bold;
            border-bottom:none !important ;
        }
        #megamenu ul li {

            border-bottom:none !important ;
        }

        #menu-offcanvas ul{
            position: absolute;
            opacity: 0.95;
        }
        #menu-offcanvas ul li{
         
            position: relative;
            right: 5rem;
            width: 100vw;
        }

        #menu-offcanvas ul li a {

            background-color: #ffffff !important;
           
        }


        #menu-offcanvas li a  {
           background-color: white;
           color: black !important;
        }

        #button-slider1 li{
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }
        .custom-details-slider-reduction{
            text-decoration: overline;
        }
}

@media all and (min-width:0px) and (max-width:575px){
     .card-body-custom{
            font-size: 12px;
            font-weight: bold;
     }
     .custom-margin-link{
        margin-left: 12px;
    }
    
.button-left-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
.button-right-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 10px 0px 0px 10px;
    box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
     
}
@media all and (min-width:575px) and (max-width:767px){
    .card-body-custom{
           font-size: 10px;
           font-weight: bold;
    }
    
    .custom-margin-link{
        margin-left: 8px;
    }
        
.button-left-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
.button-right-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 10px 0px 0px 10px;
    box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
}
@media all and (min-width:768px) and (max-width:991px){
    
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
    .card-body-custom{
        font-size: 10px;
        font-weight: bold;
 }
 
 .custom-margin-link{
    margin-left: 12px;
}
.button-left-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
.button-right-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 10px 0px 0px 10px;
    box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
}

@media all and (min-width:992px) and (max-width:1199px){
       
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
    .card-body-custom{
        font-size: 14px;
        font-weight: bold;
 }
 .custom-margin-link{
    margin-left: 12px;
}
.button-left-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
.button-right-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 10px 0px 0px 10px;
    box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
}

@media all and (min-width:1200px) and (max-width:1399px){
       
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
    .card-body-custom{
        font-size: 11px;
        font-weight: bold;
 }
    .col-xl-half{
        width:19.725%;
    }
    .custom-margin-link{
        margin-left: 29px;
    }
    .button-left-slider{
        width: 50px;
        height: 50px;
        top: 40%;
        left: 18px;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
        background-color: #ffffff;
        opacity: initial;
        font-size: 30px;
        color: black;
    }
    .button-right-slider{
        width: 50px;
        height: 50px;
        top: 40%;
        border-radius: 10px 0px 0px 10px;
        box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        opacity: initial;
        font-size: 30px;
        color: black;
    }
    
}

@media all and (min-width:1400px){
       
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.card-body-custom{
    font-size: 12px;
    font-weight: bold;
    
 }
 
.col-xl-half{
    width:19.725%;
 }
 .custom-margin-link{
    margin-left: 33px;
}
.button-left-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    left: 20px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 0px 5px rgb(0 0 0 / 16%);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
.button-right-slider{
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 10px 0px 0px 10px;
    box-shadow:-3px 0px 5px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: initial;
    font-size: 30px;
    color: black;
}
}

@media all and (min-width:0px) and (max-width:767px){
    #header{
        display: none;
    }
    #menu-offcanvas li a  {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255) !important;
     }
     #offcanvas-body1{
        background-color: black;
     }
     #offcanvas-body1 ul{
        background-color: black;
     }

    ul li{
        font-size: 12px;
    }
}